@model IEnumerable<JamesQMurphy.Web.Models.AdminViewModels.UserModel>
@{
    ViewData[Constants.VIEWDATA_PAGETITLE] = "User Management";
}

<vc:title-heading title="@ViewData[Constants.VIEWDATA_PAGETITLE]"></vc:title-heading>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">User Id</th>
            <th scope="col">Email</th>
            <th scope="col">External Logins</th>
            <th scope="col">Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.userName</td>
                <td>@user.userId</td>
                <td>
                    @if (!String.IsNullOrWhiteSpace(user.email))
                    {
                        <span>@user.email</span>
                        if (user.emailVerified)
                        {
                            <span class="fas fa-check-circle"></span>
                        }
                        else
                        {
                            <span>(not verified)</span>
                        }
                    }
                </td>
                <td>
                    @foreach(var login in user.externalLogins)
                    {
                        <div>@login.Item2</div>
                    }
                </td>
                <td>
                    @user.lastUpdatedUtc.ToShortDateString()
                    @user.lastUpdatedUtc.ToShortTimeString()
                    UTC
                </td>
            </tr>
        }
    </tbody>
</table>