<h1 class="display-4">@ViewData[Constants.VIEWDATA_PAGETITLE]</h1>
<p>
    Thanks for taking the time to get in touch!  I'll get back to you as soon as I possibly can.
</p>
<p>
    <a asp-controller="home">Back to the Home Page</a>
</p>

<p class="container mt-3">
    <a href="@webSiteOptions.TwitterLink"><img src="~/images/Twitter_Social_Icon_Circle_Color.png" aria-label="@webSiteOptions.TwitterAccount on Twitter" style="width:32px;height:32px;border:0;margin-right:10px"></a>
    <a href="@webSiteOptions.GithubLink"><img src="~/images/GitHub-Mark-32px.png" aria-label="@webSiteOptions.GithubAccount on GitHub" style="width:32px;height:32px;border:0;"></a>
</p>

