@model JamesQMurphy.Web.Models.HomePageItems
@inject JamesQMurphy.Blog.IMarkdownHtmlRenderer Renderer
@{ var webSiteTitle = webSiteOptions.WebSiteTitle;}

<div class="container p-0">
    <div class="row p-0">
        <div class="container-fluid text-right" style="position:relative;">
            <div style="position:absolute; width:45%; right:20px;">
                <div class="display-4 d-block d-md-none" style="font-size:150%">@webSiteTitle</div>
                <div class="display-4 d-none d-md-block d-lg-none">@webSiteTitle</div>
                <div class="display-3 d-none d-lg-block d-xl-none">@webSiteTitle</div>
                <div class="display-2 d-none d-xl-block">@webSiteTitle</div>
            </div>
            <img class="img-fluid" src="~/images/TitleBanner.png" style="background-color: #e9ecef" />
        </div>
    </div>
    <div class="row p-0">&nbsp;</div>
    <div class="row p-0">

        <!-- Main content area -->
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="row p-1 pb-4">
                    <h1>Latest Blog Posts</h1>
                </div>
            </div>
            <article class="container-fluid">
                <div class="row border-top p-1">
                    <div>
                        @await Component.InvokeAsync(nameof(JamesQMurphy.Web.ViewComponents.ArticleMetadataListing), new { articleMetadata = Model.Article1.Metadata, displayCompact = false })
                    </div>
                    <div>
                        @Html.Raw(Renderer.RenderHtml(Model.Article1Teaser))
                    </div>
                    <div class="container-fluid text-right"><a href="/blog/@Model.Article1.Slug">Read more&gt;&gt;</a></div>
                </div>
            </article>
            <article class="container-fluid">
                <div class="row border-top p-1">
                    <div>
                        @await Component.InvokeAsync(nameof(JamesQMurphy.Web.ViewComponents.ArticleMetadataListing), new { articleMetadata = Model.Article2.Metadata, displayCompact = false })
                    </div>
                    <div>
                        @Html.Raw(Renderer.RenderHtml(Model.Article2Teaser))
                    </div>
                    <div class="container-fluid text-right"><a href="/blog/@Model.Article2.Slug">Read more&gt;&gt;</a></div>
                </div>
            </article>
            <div class="container-fluid">
                <div class="row border-top p-1">
                    <a asp-area="" asp-controller="Blog" asp-action="Index">See all blog posts&gt;&gt;</a>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3 d-none d-md-block border-left">
            <div class="card mb-3">
                <img src="~/images/JamesQMurphy_ColdBrewDevOps1.png" class="card-img-top" alt="Profile picture of JamesQMurphy" />
                <div class="card-body px-2">
                    <h5 class="card-title text-center">Cold-brewed coffee is awesome.<br />So is DevOps.</h5>
                    <!-- Social media links-->
                    <div>
                        <hr />
                        @{
                            var twitterAccount = webSiteOptions.TwitterAccount;
                            var twitterLink = webSiteOptions.TwitterLink;
                            var twitterCaption = $"Follow @{webSiteOptions.TwitterAccount}";

                            var githubAccount = webSiteOptions.GithubAccount;
                            var githubLink = webSiteOptions.GithubLink;
                            var githubCaption = $"Follow @{webSiteOptions.GithubAccount}";
                        }
                        <p class="text-center d-block d-lg-none">
                            <a href="@twitterLink"><img src="~/images/Twitter_Social_Icon_Circle_Color.png" aria-label="@twitterCaption on Twitter" style="width:32px;height:32px;border:0;margin-right:10px"></a>
                            <a href="@githubLink" aria-label="@githubCaption on GitHub"><img src="~/images/GitHub-Mark-32px.png" aria-label="@githubCaption on GitHub" style="width:32px;height:32px;border:0;"></a>
                        </p>
                        <p class="text-center mb-0 d-none d-lg-block d-xl-none">
                            <a class="btn btn-twitter btn-sm mb-2" href="@twitterLink" aria-label="@twitterCaption on Twitter"><i class="fab fa-twitter fa-lg mr-2"></i><small>@twitterCaption</small></a>
                            <a class="btn btn-github btn-sm" href="@githubLink" aria-label="@githubCaption on GitHub"><i class="fab fa-github fa-lg mr-2"></i><small>@githubCaption</small></a>
                        </p>
                        <p class="text-center mb-0 d-none d-xl-block">
                            <a class="btn btn-twitter btn-sm mb-2" href="@twitterLink" aria-label="@twitterCaption on Twitter"><i class="fab fa-twitter fa-lg mr-2"></i>@twitterCaption</a>
                            <a class="btn btn-github btn-sm" href="@githubLink" aria-label="@githubCaption on GitHub"><i class="fab fa-github fa-lg mr-2"></i>@githubCaption</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="container"></div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title text-center">Continuous Integration</h5>
                    <hr />
                    <p class="text-center">See the source code for this site on <a href="@githubLink/www-jamesqmurphy-com">Github</a></p>
                    <p class="text-center">See how it's built in <a href="https://dev.azure.com/jamesqmurphy/www-jamesqmurphy-com">Azure&nbsp;DevOps</a></p>
                </div>
            </div>
            <div class="container"></div>

            <div class="card">
                <div class="card-body">

                    <!-- As described here: https://aws.amazon.com/co-marketing/ -->
                    <a href="https://aws.amazon.com/what-is-cloud-computing"><img class="card-img-top" src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="Powered by AWS Cloud Computing"></a>
                </div>
            </div>
        </div>
    </div>
</div>



