@{ 
    var u = (ApplicationUser) ViewData["User"];
}
    <div class="container p-0">
        <h1>Secret Page</h1>
        <p>
            You should only see this page if you are logged in.
        </p>
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>@u.Id</td>
                    </tr>
                    <tr>
                        <td>UserName</td>
                        <td>@u.UserName</td>
                    </tr>
                    <tr>
                        <td>NormalizedUserName</td>
                        <td>@u.NormalizedUserName</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@u.Email</td>
                    </tr>
                    <tr>
                        <td>NormalizedEmail</td>
                        <td>@u.NormalizedEmail</td>
                    </tr>
                    <tr>
                        <td>EmailConfirmed</td>
                        <td>@u.EmailConfirmed</td>
                    </tr>
                    <tr>
                        <td>PasswordHash</td>
                        <td>@u.PasswordHash</td>
                    </tr>
                </tbody>
            </table>
        </p>
        <form asp-controller="profile" asp-action="logout" method="post">
            <button type="submit" class="btn btn-primary">Log out</button>
        </form>

    </div>



