@model LoginViewModel

@{
    ViewData[Constants.VIEWDATA_PAGETITLE] = "Sign in";
}

<vc:title-heading title="@ViewData[Constants.VIEWDATA_PAGETITLE]"></vc:title-heading>
<div class="row mt-3">
    <div class="col-sm-8 col-md-6 col-lg-5">
        <vc:external-login-buttons caption="Sign in with {0}"></vc:external-login-buttons>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-6 col-lg-5">
        <hr />
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <label asp-for="Password"></label>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </div>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Sign in with Email</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="@nameof(JamesQMurphy.Web.Controllers.accountController.register)" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign up as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
