@using JamesQMurphy.Web.Controllers
@using System.Linq

@inject Microsoft.AspNetCore.Identity.SignInManager<JamesQMurphy.Auth.ApplicationUser> SignInManager
@model ExternalLoginButtonsModel

<div>
    @{
        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
        if (loginProviders.Count > 0)
        {
            <form asp-action="@nameof(accountController.loginexternal)" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div>
                    @foreach (var provider in loginProviders)
                    {
                        var title = Model.Caption;
                        if (title.Contains("{0}"))
                        {
                            title = String.Format(Model.Caption, provider.DisplayName);
                        }
                        if (String.IsNullOrWhiteSpace(title))
                        {
                            title = provider.DisplayName;
                        }
                    <div class="form-group">
                        @switch (provider.Name)
                        {
                            case "GitHub":
                                <button type="submit" class="btn btn-dark w-100" style="background-color: #24292E; border-color: #24292E;" name="provider" value="@provider.Name" title="@title"><i class="fab fa-github fa-lg mr-2"></i>@title</button>
                                break;

                            case "Twitter":
                                <button type="submit" class="btn btn-secondary w-100" style="background-color: #1DA1F2; border-color: #1DA1F2;" name="provider" value="@provider.Name" title="@title"><i class="fab fa-twitter fa-lg mr-2"></i>@title</button>
                                break;

                            default:
                                <button type="submit" class="btn btn-secondary w-100" name="provider" value="@provider.Name" title="@title">@title</button>
                                break;
                        }


                    </div>
                    }
                </div>
            </form>
        }
    }
</div>
