@model JamesQMurphy.Blog.Article

<vc:article article="@Model"></vc:article>

<template id="commentTemplate">
    <div class="jqm-comment media my-3" id="{commentId}" data-timestamp="{timestamp}">
        <div class="jqm-comment-user-icon">
            <img class="img-fluid" src="{authorImageUrl}">
        </div>
        <div class="jqm-comment-body media-body px-3">
            <b>{authorName}</b> {you} {editState}<br />
            {htmlContent}
            <div>
                {replyButton}{trashButton}
            </div>
            <div class="media my-3" id="{commentId}/more" data-timestamp="z">
                <span class="btn btn-sm btn-link p-0" id="{commentId}{VIEW_MORE_CTL_SUFFIX}" style="display:none"><i class="fas fa-caret-down fa-small"></i> {viewMoreText}</span>
                &nbsp;
            </div>
        </div>
    </div>
</template>

<h2>Comments</h2>
<hr />
<div class="container" id="commentsRoot"></div>
<div class="container-fluid" id="addComment">
    @if ((bool)ViewData["isLoggedIn"])
    {
        <form method="post">
            <label class="row pt-3 pb-1 border-top" for="userComment">
                <b>Add a public comment...</b>
            </label>
            <div class="row mb-3">
                <textarea name="commentContent" id="userComment" maxlength="1000" style="min-width: 100%"></textarea>
            </div>
            <div class="row">
                <input type="button" class="btn btn-primary" value="Comment" id="submitUserComment" />
            </div>
        </form>
    }
    else
    {
        <p class="text-center">
            Want to leave a comment?  <a asp-controller="account" asp-action="@nameof(JamesQMurphy.Web.Controllers.accountController.register)" asp-route-returnurl="@ViewData["returnUrl"]">Sign up</a>! <br />
            Already signed up?  <a asp-controller="account" asp-action="@nameof(JamesQMurphy.Web.Controllers.accountController.login)" asp-route-returnurl="@ViewData["returnUrl"]">Sign in</a>!
        </p>
    }

</div>

@section Scripts {
    <script type="text/javascript" src="/dist/lib/mermaid/dist/mermaid.min.js" asp-append-version="true"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
    @if ((bool)ViewData["canModeratePosts"])
    {
        <script>
            var canModeratePosts = true;
        </script>
    }
    else
    {
        <script>
            var canModeratePosts = false;
        </script>
    }
    <script src="~/js/blogComments.js" asp-append-version="true"></script>
}
