@{
    var webSiteTitle = webSiteOptions.WebSiteTitle;
    var currentUserId = httpContextAccessor?.HttpContext?.User?.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value ?? "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @{
            if (string.IsNullOrWhiteSpace((string)ViewData[Constants.VIEWDATA_PAGETITLE]))
            {
                <text>@webSiteTitle</text>
            }
            else
            {
                <text>@ViewData[Constants.VIEWDATA_PAGETITLE] - @webSiteTitle</text>
            }
        }
    </title>

    <link rel="stylesheet" href="~/dist/css/style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="alternate" type="application/rss+xml" title="@webSiteTitle - RSS" href="/blog/rss" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" asp-controller="home" asp-action="index">@webSiteTitle</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="navbar-nav flex-grow-1">
                        <a class="nav-item nav-link text-dark" asp-controller="blog" asp-action="index">Blog</a>
                        <a class="nav-item nav-link text-dark" asp-controller="home" asp-action="about">About</a>
                        <a class="nav-item nav-link text-dark" href="~/contact">Contact</a>
                    </div>
                </div>
                @if (String.IsNullOrWhiteSpace(currentUserId))
                {
                    <div>
                        <a class="btn btn-primary" asp-controller="account" asp-action="register">Sign Up</a>
                        <a class="btn btn-secondary" asp-controller="account" asp-action="login">Sign In</a>
                    </div>
                }
                else
                {
                    <a class="nav-item nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-lg"></i>
                    </a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <partial name="_AlertMessagesPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019-2020 @webSiteTitle &nbsp; <a asp-area="" asp-controller="home" asp-action="privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/dist/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/dist/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
